<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {{ ws_client() }}
    </body>
    <script>
        var webSocket = WS.connect("ws://127.0.0.1:8080");

        webSocket.on("socket/connect", function(session){
            //session is an Autobahn JS WAMP session.

            console.log("Successfully Connected!", session);

            session.call("sample/add_func", {"term1": 2, "term2": 5}).then(
                function(result)
                {
                    console.log("RPC Valid!", result);
                },
                function(error, desc)
                {
                    console.log("RPC Error", error, desc);
                }
            );
        });

        webSocket.on("socket/disconnect", function(error){
            //error provides us with some insight into the disconnection: error.reason and error.code

            console.log("Disconnected for " + error.reason + " with code " + error.code);
        });
    </script>
</html>
